source_up
PATH_add ../scripts

# Setup profile for command line tools. This will allow vars to be
# detected and used by the app automatically.
export AWS_PROFILE=$(basename $(expand_path .))
export AWS_ACCOUNT_ID="447641181206"
